{
  "extends": [
    "airbnb-base/legacy",
    "angular"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "_": true,
    "angular": true,
    "firebase": true
  },
  "rules": {
    "vars-on-top": 0,
    "no-param-reassign": 0,
    "func-names": 0,
    "consistent-return": 0,
    "angular/controller-as": 0,
    "angular/controller-as-route": 0
  }
}
