md-toolbar.md-hue-2
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='Settings', ng-disabled='true')
      md-icon.material-icons menu
    h2
      span Cabueta.com
    span(flex)
    md-button.md-icon-button(aria-label='Favorite')
      md-icon.material-icons favorite
    md-button.md-icon-button(aria-label='More')
      md-icon.material-icons more_vert
