doctype html
html.no-js
  head

    // TODO Adicionar meta tags (titulo, utf8, favicon...)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href=manifest['css/styles.css'])
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body(ng-app='App', ng-cloak, layout="column")
    include partials/toolbar
    
    md-content(flex)
      ui-view Loading...

    include states/home

    //- Initialize Firebase
    script(src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js")
    script.
      firebase.initializeApp(!{JSON.stringify(firebaseConfig)});

    script(src=manifest['js/libs.js'])
    script(src=manifest['js/index.js'])
