@import "../bower_components/angular-material/angular-material.scss";

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f2f2;
}

#app {
  height: 100%;
}

.hero {
  height: 400px;
  width: 100%;
  background-color: #aaa;
}

.md-fab {
  position: absolute;
  margin: 16px;
  bottom: 0;
  right: 0;
}

.angular-google-map-container { height: calc(100vh - 64px); }